body {
	background-color: #BCD8F0
}

p{
		background-color: #E0F088;
		font-size: 20px;
		width: 20%;
		padding: 7px;
		margin: 15px;
		
}

div{
		background-image: url(images/s1200.jpg)
		color: #68D919;
		font-size: 25px;
	
}
#test {
	
	background-image: url(images/animals_new.jpg);
	transform: rotate(0deg) scale(1.0);
	transition: 3s all;
	
	background-color: #337A00;
	color: ##000000;
	padding: 15px;   
	margin: 15px;    
	border: 3px dashed red;
	border-radius: 50px;	
	opacity: 1.0;
	box-shadow: -13px 11px 7px #33FF0F; 
	width: 1024px;
	height: 450px;
	display: block;
	text-align: center;
	font-size: 70px;
	font-weight: 800;
	
}	

